$primary-color: #FD2D01;
$primary-color-light: #E6500B;
$primary-color-dark: #E6100B;

$secondary-color: #FFD7D7;
$secondary-color-light: #FFD9C9;
$secondary-color-dark: #E8BEB7;

$tertiary-color: #4E5166;
$tertiary-color-light: #888DB3;
$tertiary-color-dark: #575A73;

$creator-input-color: #63667e;

$bg-1: #525569;
$bg-95: #46495c;
$bg-120: #5e617a;

$bg-flat: #424456;
$bg-void: #3e4152;

$border-color-1: #ccc;
$border-color-2: #e6e6e6;
$border-color-3: rgba(255, 255, 255, 0.1);

$neutral-1: #999;
$neutral-2: #AEAEAED1;
$neutral-3: #fff;

$sidebar-bg-color: #4a4d61;
$sidebar-item-hover: #585b6d;
$sidebar-item-active: #5e617a;
$sidebar-border-color: $border-color-1;
