$primary-color: #FD2D01;
$primary-color-light: #E6500B;
$primary-color-dark: #E6100B;


$secondary-color: #FFD7D7;
$secondary-color-light: #FFD9C9;
$secondary-color-dark: #E8BEB7;

$tertiary-color: #4E5166;
$tertiary-color-light: #888DB3;
$tertiary-color-dark: #575A73;

