$primary-color: #FD2D01;
$primary-color-light: #E6500B;
$primary-color-dark: #E6100B;

$secondary-color: #FFD7D7;
$secondary-color-light: #FFD9C9;
$secondary-color-dark: #E8BEB7;

$tertiary-color: #4E5166;
$tertiary-color-light: #888DB3;
$tertiary-color-dark: #575A73;

$creator-input-color: #63667e;

$bg-1: #525569;
$bg-95: #46495c;
$bg-120: #5e617a;

$bg-flat: #424456;
$bg-void: #3e4152;

$border-color-1: #ccc;
$border-color-2: #e6e6e6;

$gray-1: #999;
$gray-2: #AEAEAED1;

$white-1: #fff;

$font-1: "Roboto", Inter, Avenir, Helvetica, Arial, sans-serif;
